[Desktop Entry]
Type=Application
Name=Clickkiller
Comment=Start Clickkiller on login
Exec=/home/jan/Applications/Clickkiller.AppImage
Terminal=false
X-GNOME-Autostart-enabled=true
